.main{
  header{width: 100%; height: 62px; background: #002b67; border-bottom: 1px solid rgba(255,255,255,.2); padding: 0 336px 0 20px; display: flex; align-items: center;
    .btn_menu{display: flex; width: 26px; height: 26px; background: url('../../imgs/btn_hamburger.png') no-repeat; text-indent: -9999px; cursor: pointer; user-select: none; margin-right: 32px;}
    .main_logo{font-family: 'Gmarket Sans' !important; font-size: 20px; font-weight: bold; color: #fff; cursor: pointer; user-select: none;}
    .header_menu{ margin: 0 66px 0 60px; display: flex; gap: 0 60px;
      li{font-weight: 500; font-size: 15px; letter-spacing: -0.9px; color: #fff; cursor: pointer; user-select: none;       
      }
    }
    .go_coun{margin-left: auto;}
      .main_btn_w{width: 78px; border-radius: 5px; margin-left: auto; letter-spacing: -0.78px; font-size: 13px;}
  }
}